---
---

$body-text-color: #606060 !default;

@import "{{ site.theme }}";

html, body {
  font-size: 16px;
}

a:hover {
  color: $body-link-color;
}

.page-header {

  /*@include large {
    padding: 4rem 5rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 2rem 1rem;
  }*/

  .white {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.project-name {

  @include large {
    font-size: 2.85rem;
  }

  /*@include medium {
    font-size: 1.95rem;
  }

  @include small {
    font-size: 1.75rem;
  }*/
}

details>summary {
  color: $body-link-color;
  margin-bottom: .5rem;
  cursor: pointer;
  outline: none;
}

details>p {
  margin-top: .5rem;
}

.box {
  color: $code-text-color;
  border: solid 1px $border-color;
  border-radius: 0.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .35rem .75rem;
  background-color: $code-bg-color;
  border-radius: 0.3rem;
}

.demo {
  max-width: 560px;
  margin: auto;

  iframe {
    width: 560px;
    height: 315px;
  }
}

.my-table {
  tr {
    td {
      border: none;
      white-space: normal;
      vertical-align: top;

      ul {
        margin-left: -1em;
      }
    }
    th {
      border: none;
      vertical-align: bottom;
      text-align: left;
      font-weight: normal;
      color: $section-headings-color;
    }
  }
}

/* reduce the size of the demo videos for small screen */
@media all and (max-width: 580px) {
  .demo {
    max-width: 320px;

    iframe {
      width: 320px;
      height: 240px;
    }
  }
}