---
---

@import "{{ site.theme }}";

html, body {
  color: #606060;
}

.page-header {

  @include large {
    padding: 4rem 5rem;
  }

  @include medium {
    padding: 2rem 3rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}


.project-name {

  @include large {
    font-size: 2.85rem;
  }

  /*@include medium {
    font-size: 1.95rem;
  }

  @include small {
    font-size: 1.75rem;
  }*/
}

details > summary {
  color: $body-link-color;
  margin-bottom: .5rem;
  cursor: pointer;
  outline: none;
}

details > p {
  margin-top: .5rem;
  //margin-bottom: .5rem;
  //margin-left: 20px;
}
