---
---

// Headers
$header-bg-color: #006699 !default;
$header-bg-color-secondary: #005580 !default;

// Text
$section-headings-color: #606c71 !default;

@import "{{ site.theme }}";

/*h2 {
  padding-bottom: .3rem;
  border-bottom: solid 1px $hr-border-color;
}

.no-border {
  border: none;
}

.no-padding {
  border: none;
}*/

.page-header {
  @include large {
    padding: 3rem 2rem;
  }

  @include medium {
    padding: 2rem 2rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}


.project-name {

  @include large {
    font-size: 2.15rem;
  }

  @include medium {
    font-size: 1.95rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

